.DS_Store
.vscode
node_modules
npm-debug.log
server/public/build
server/certificates
lcov.info
.env
.env sand
.env sand
.env snd
.env dev
.env test
.env tst
.pem
xxkey.pem
xxcert.pem
xxxcerts/cert.pem
xxxcerts/key.pem
