{% extends 'layout.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Apply for a CITES permit
    </h1>

    <p class="govuk-body">Use this service to apply for a permit to import, export or re-export under the Convention on
      International Trade in Endangered Species of Wild Fauna and Flora (CITES).</p>
    <p class="govuk-body">You can use this service to apply for a permit to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>import, export or re-export a specimen</li>
      <li>use a specimen for commercial purposes (also called an Article 10)</li>
    </ul>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Start now",
      href: "permit-type",
      isStartButton: true
    }) }}

  </div>
</div>
{% endblock %}