{% extends 'application-basic-layout.html' %}

{% block centralContent %}
        {{ govukRadios({
        input: inputIdPrefix,
        name: inputName,
  fieldset: {
    legend: {
      text: pageHeader,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: true,
      text: inputYesText,
      checked: inputYesChecked
    },
    {
      value: false,
      text: inputNoText,
      checked: inputNoChecked
    }
  ],
  errorMessage: errorMessage
}) }}
{% endblock %}