{% extends 'layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {% if backLink %}
    {{ govukBackLink({
      text: backLinkButton,
      href: backLink,
      attributes: {id: 'linkBack'}
    }) }}
  {% endif %}

  {% if breadcrumbs %}
    {{ govukBreadcrumbs(breadcrumbs) }}
  {% endif %}

  {% if errorList %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        {{govukErrorSummary ({
         "titleText": errorSummaryTitle,
         "errorList": errorList
      }) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
        <h1 class="govuk-heading-l">{{pageHeader}}</h1>
        <p>{{hintIncomplete}}</p>

        <h2 class="govuk-heading-m ">{{headerPermit}}</h2>
        {{ govukSummaryList (summaryListAboutThePermit) }}

        <h2 class="govuk-heading-m">{{headerContactDetails}}</h2>
        {{ govukSummaryList (summaryListApplicantContactDetails) }}

        <h2 class="govuk-heading-m">{{headerDeliveryAddress}}</h2>
        {{ govukSummaryList (summaryListDeliveryAddress) }}

        <h2 class="govuk-heading-m">{{headerSpecimenDetails}}</h2>
        {{ govukSummaryList (summaryListSpecimenDetails) }}

        {% if showImporterExporterDetails %}
          <h2 class="govuk-heading-m">{{headingImporterExporterDetails}}</h2>
          {{ govukSummaryList (summaryListImporterExporterDetails) }}
        {% endif %}

        {% if showPermitDetails %}
          <h2 class="govuk-heading-m">{{headerCountryOfOriginPermitDetails}}</h2>
          {{ govukSummaryList (summaryListCountryOfOriginPermitDetails) }}

          <h2 class="govuk-heading-m">{{headingPermitDetails}}</h2>
          {{ govukSummaryList (summaryListExportOrReexportPermitDetails) }}       
        {% endif %}

        {% if showAdditionalInfo %}
          <h2 class="govuk-heading-m">{{headerAdditionalInformation}}</h2>
          {{ govukSummaryList (summaryListRemarks) }}
        {% endif %}

        {% if showConfirmButton %}
          {{ govukButton({
              text: buttonText,
              type: "submit"
              }) }}
        {% endif %}

        {% if returnToYourApplicationsLinkText %}
          <p class="govuk-body">
            <a href="{{returnToYourApplicationsLinkUrl}}">{{returnToYourApplicationsLinkText}}</a>
          </p>
        {% endif %}

      </form>
    </div>
  </div>
{% endblock %}