{% extends 'layout.html' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel(panelContent) }}

      <form method="POST" autocomplete="off" novalidate="novalidate">

        <h2 class="govuk-heading-m">{{pageHeader}}</h2>

        <p>{{pageBody1 | safe}}</p>
        {% if pageBodyWarning1 %}
          {{ govukWarningText({
          text: pageBodyWarning1,
          iconFallbackText: "Warning"
        }) }}
        {% endif %}
        <p>{{pageBody2 | safe}}</p>
        {% if pageBodyWarning2 %}
          {{ govukWarningText({
          text: pageBodyWarning2,
          iconFallbackText: "Warning"
        }) }}
        {% endif %}
        <p>{{pageBody3 | safe}}</p>
        <p>{{pageBody4 | safe}}</p>
        {% if pageHeader2 %}
          <h2 class="govuk-heading-m">{{pageHeader2}}</h2>
        {% endif %}
        <p>{{pageBody5 | safe}}</p>
        {% if isExportSubmissionWaiting %}
          {{ govukButton({
                    text: buttonGoToExportSubmission,
                    type: "submit",
                    attributes: {        
                      formAction: formActionGoToExport
                    }
                }) }}
        {% else %}
          {{ govukButton({
                    text: buttonGoToMyAccount,
                    type: "submit",
                    attributes: {        
                      formAction: formActionGoToAccount
                    }
                }) }}
        {% endif %}
        <p>{{pageBody6 | safe}}</p>
      </form>
    </div>
  </div>
{% endblock %}