{% extends 'application-basic-layout.html' %}

{% block centralContent %}
  {% call govukFieldset({
          legend: {
            text: pageHeader,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
  {% block bodyText %}
  {% if pageBody%}
    <p class="govuk-body">{{pageBody | safe}}</p>
  {% endif %}
  <div class="govuk-hint">
    {{inputHint | safe}}
  </div>
  {% endblock %}
  {{ govukRadios({
        input: inputIdPrefix | default(inputName),
        name: inputName,
        classes: inputClasses,
        items: [
          {
            value: true,
            text: radioOptionYes,
            checked: inputYesChecked
          },
          {
            value: false,
            text: radioOptionNo,
            checked: inputYesChecked === false
          }
        ],
        errorMessage: errorMessage
      }) 
  }}
  {% endcall %}
{% endblock %}