{% extends 'layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block beforeContent %}
  {{ govukBackLink({
    text: backLinkButton,
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
      {% call govukFieldset({
          legend: {
            text: pageHeader,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        <p>
        {% if addressLine1 %}<br>{{addressLine1}}{% endif %}
        {% if addressLine2 %}<br>{{addressLine2}}{% endif %}
        {% if addressLine3 %}<br>{{addressLine3}}{% endif %}
        {% if addressLine4 %}<br>{{addressLine4}}{% endif %}
        {% if postcode %}<br>{{postcode}}{% endif %}        
        {% if showCountry %}<br>{{countryDesc}}{% endif %}</p>

        {{ govukButton({
        text: confirmButton,
        type: "submit"
      }) }}
      <p class="govuk-body">
          <a href="{{changeAddressLink}}">{{changeAddressLinkText}}</a>
        </p>
      {% endcall %}
      </form>
    </div>
  </div>
{% endblock %}