{% extends 'layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block beforeContent %}
  {{ govukBackLink({
    text: backLinkButton,
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}

  {% if errorList %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{govukErrorSummary ({
        "titleText": errorSummaryTitle,
        "errorList": errorList
        }) }}
      </div>
    </div>
  {% endif %}

{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
        {% call govukFieldset({
          legend: {
            text: pageHeader,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {% if pageBody %}
          <p>{{ pageBody }}</p>
        {% endif %}
        {{ govukInput(inputFullName) }}

        <div class="govuk-form-group">
          <label class="govuk-label" for="businessName">
            {{inputLabelBusinessName}}
          </label>
          <input disabled="disabled" class="disabled govuk-input govuk-!-width-two-thirds" id="businessName" name="businessName" value="{{businessNameValue}}" type="text" aria-describedby="businessName-hint">
        </div>

        {{ govukInput(inputEmail) }}

        {{ govukButton({
          text: saveAndContinueButton,
          type: "submit"
        }) }}

        {% endcall %}
      </form>
    </div>
  </div>
{% endblock %}