{% extends 'application-basic-layout.html' %}
{% set showPageHeader = true %}

{% block centralContent %}

        {% if pageBody %}
          <p>{{ pageBody }}</p>
        {% endif %}
        {{ govukInput(inputFullName) }}

        {% if isAgent != true %}
          <div class="govuk-form-group">
            <label class="govuk-label" for="businessName">
              {{inputLabelBusinessName}}
            </label>
            <input disabled="disabled" class="disabled govuk-input govuk-!-width-two-thirds" id="businessName" name="businessName" value="{{businessNameValue}}" type="text" aria-describedby="businessName-hint">
          </div>
        {% endif %}
        {{ govukInput(inputEmail) }}

{% endblock %}