{% extends 'application-basic-layout.html' %}
{% set showPageHeader = true %}

{% block centralContent %}
  <p>{{pageBodyText1}}</p>
  <p>{{pageBodyText2}}</p>
  <p>{{pageBodyText3}}</p>
  <p>{{pageBodyTextAgent}}</p>
  {{ govukCheckboxes(inputDeclaration) }}
{% endblock %}

{% block submitButton %}
  {{ govukButton({
      text: agreeAndSubmitButton,
      classes: 'loading-message-trigger',
      type: "submit"
  }) }}
{% endblock %}

{% block localJS %}
  <script src="{{assetPath}}/js/loading-message.client.js"></script>
{% endblock %}