{% extends 'application-layout.html' %}
{% block content %}
  <h1 class="govuk-heading-l">{{pageHeader}}</h1>
  <div class="govuk-grid-column">
    <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-one-half">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">
                {{inputLabelSex}}
              </h2>
            </legend>
          </div>
          <div class="govuk-grid-column-one-half">
            {{ govukRadios(inputSex) }}
          </div>
        </fieldset>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-one-half">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">{{inputLabelDateOfBirth}}</h2>
            </legend>
          </div>
          <div class="govuk-grid-column-one-half">
            {{ govukDateInput(inputDateOfBirth) }}
            {{ govukCheckboxes(checkboxIsExactDateUnknown) }}
          </div>
        </fieldset>
      </div>

      {% if showParentDetails %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <fieldset class="govuk-fieldset">
            <div class="govuk-grid-column-one-half">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">{{inputLabelMaleParentDetails}}</h2>
              </legend>
            </div>
            <div class="govuk-grid-column-one-half">
              {{ govukCharacterCount(inputMaleParentDetails) }}
            </div>
          </fieldset>
        </div>

        <div class="govuk-grid-row">
          <fieldset class="govuk-fieldset">
            <div class="govuk-grid-column-one-half">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">{{inputLabelFemaleParentDetails}}</h2>
              </legend>
            </div>
            <div class="govuk-grid-column-one-half">
              {{ govukCharacterCount(inputFemaleParentDetails) }}
            </div>
          </fieldset>
        </div>
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-one-half">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">{{inputLabelDescription}}</h2>
            </legend>
          </div>
          <div class="govuk-grid-column-one-half">
            {{ govukCharacterCount(inputDescription) }}
          </div>
        </fieldset>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {{ govukButton({
        text: saveAndContinueButton,
        type: "submit"
      }) }}

    </form>
  </div>
{% endblock %}