{% extends 'layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block beforeContent %}
  {{ govukBackLink({
    text: backLinkButton,
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}

  {% if errorList %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{govukErrorSummary ({
        "titleText": errorSummaryTitle,
        "errorList": errorList
        }) }}
      </div>
    </div>
  {% endif %}

{% endblock %}
{% block content %}
  <span class="govuk-caption-l">
    {{captionText}}
  </span>
  <h1 class="govuk-heading-l">{{pageHeader}}</h1>
  <div class="govuk-grid-column">
    <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-one-half">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">
                {{inputLabelSex}}
              </h2>
            </legend>
          </div>
          <div class="govuk-grid-column-one-half">
            {{ govukRadios(inputSex) }}
          </div>
        </fieldset>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-one-half">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">{{inputLabelDateOfBirth}}</h2>
            </legend>
          </div>
          <div class="govuk-grid-column-one-half">
            {{ govukDateInput(inputDateOfBirth) }}
          </div>
        </fieldset>
      </div>

      {% if showParentDetails %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          {# <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-s">{{inputLabelParentDetails}}</h2>
          </div>
          <div class="govuk-grid-column-one-half">
            {{govukCharacterCount(inputParentDetails)}}
          </div> #}
          <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-one-half">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">{{inputLabelParentDetails}}</h2>
            </legend>
          </div>
          <div class="govuk-grid-column-one-half">
            {{ govukCharacterCount(inputParentDetails) }}
          </div>
        </fieldset>
        </div>
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-one-half">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">{{inputLabelDescription}}</h2>
            </legend>
          </div>
          <div class="govuk-grid-column-one-half">
            {{ govukCharacterCount(inputDescription) }}
          </div>
        </fieldset>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {{ govukButton({
        text: continueButton,
        type: "submit"
      }) }}

    </form>
  </div>
{% endblock %}