{% extends 'layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block beforeContent %}
  {{ govukBackLink({
    text: backLinkButton,
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}

  {% if errorList %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{govukErrorSummary ({
        "titleText": errorSummaryTitle,
        "errorList": errorList
        }) }}
      </div>
    </div>
  {% endif %}

{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l">{{pageHeader}}</h1>
  <div class="govuk-grid-column">
    <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-one-half">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">
                {{inputLabelSex}}
              </h2>
            </legend>
          </div>
          <div class="govuk-grid-column-one-half">
            {{ govukRadios(inputSex) }}
          </div>
        </fieldset>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-one-half">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">{{inputLabelDateOfBirth}}</h2>
            </legend>
          </div>
          <div class="govuk-grid-column-one-half">
            {{ govukDateInput(inputDateOfBirth) }}
          </div>
        </fieldset>
      </div>

      {% if showParentDetails %}
        {# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <fieldset class="govuk-fieldset">
            <div class="govuk-grid-column-one-half">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">
                  Parent details
                </h2>
              </legend>
            </div>
            <div class="govuk-grid-column-one-half govuk-hint">
              Enter the unique identification mark and Article 10 certificate number for each parent. For example, ‘Parent A10 number: 10AB010C/01, closed ring number: WEL0072257’
            </div>
          </fieldset>
        </div>

        <div class="govuk-grid-row">
          <fieldset class="govuk-fieldset">
            <div class="govuk-grid-column-one-half">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                <h3 class="govuk-fieldset__heading">{{inputLabelMaleParentDetails}}</h3>
              </legend>
            </div>
            <div class="govuk-grid-column-one-half">
              {{ govukCharacterCount({
                    name: "maleParentDetails",
                    id: "maleParentDetails",
                    maxlength: 250                    
                  }) }}
            </div>
          </fieldset>
        </div>

        <div class="govuk-grid-row">
          <fieldset class="govuk-fieldset">
            <div class="govuk-grid-column-one-half">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                <h2 class="govuk-fieldset__heading">{{inputLabelFemaleParentDetails}}</h2>
              </legend>
            </div>
            <div class="govuk-grid-column-one-half">
              {{ govukCharacterCount({
                    name: "femaleParentDetails",
                    id: "femaleParentDetails",
                    maxlength: 250                    
                  }) }}
            </div>
          </fieldset>
        </div> #}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <fieldset class="govuk-fieldset">
            <div class="govuk-grid-column-one-half">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">{{inputLabelMaleParentDetails}}</h2>
              </legend>
            </div>
            <div class="govuk-grid-column-one-half">
              {{ govukCharacterCount(inputMaleParentDetails) }}
            </div>
          </fieldset>
        </div>

        <div class="govuk-grid-row">
          <fieldset class="govuk-fieldset">
            <div class="govuk-grid-column-one-half">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">{{inputLabelFemaleParentDetails}}</h2>
              </legend>
            </div>
            <div class="govuk-grid-column-one-half">
              {{ govukCharacterCount(inputFemaleParentDetails) }}
            </div>
          </fieldset>
        </div>
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <fieldset class="govuk-fieldset">
          <div class="govuk-grid-column-one-half">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">{{inputLabelDescription}}</h2>
            </legend>
          </div>
          <div class="govuk-grid-column-one-half">
            {{ govukCharacterCount(inputDescription) }}
          </div>
        </fieldset>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {{ govukButton({
        text: saveAndContinueButton,
        type: "submit"
      }) }}

    </form>
  </div>
{% endblock %}