{% extends 'layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block beforeContent %}
  {{ govukBackLink({
    text: backLinkButton,
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}

  {% if errorList %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{govukErrorSummary ({
        "titleText": errorSummaryTitle,
        "errorList": errorList
        }) }}
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
        {% call govukFieldset({
          legend: {
            text: pageHeader,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        
        <p class="govuk-body">{{pageBody}}</p>

        {{ govukInput(inputAddressLine1) }}
        {{ govukInput(inputAddressLine2) }}
        {{ govukInput(inputAddressLine3) }}
        {{ govukInput(inputAddressLine4) }}
        {{ govukInput(inputPostcode) }}
        {% if internationalAddress %}
          {{ govukSelect(selectCountry) }}
        {% endif %}

        {{ govukButton({
          text: saveAndContinueButton,
          type: "submit"
        }) }}

        {% endcall %}
      </form>
    </div>
  </div>
{% endblock %}