{% extends 'application-basic-layout.html' %}
{% block centralContent %}

  {% call govukFieldset({
          legend: {
            text: pageHeader,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

    <p class="govuk-body">{{pageBody}}</p>

    {% if showDeliveryName %}
      {{ govukInput(inputDeliveryName) }}
    {% endif %}
    {{ govukInput(inputAddressLine1) }}
    {{ govukInput(inputAddressLine2) }}
    {{ govukInput(inputAddressLine3) }}
    {{ govukInput(inputAddressLine4) }}
    {{ govukInput(inputPostcode) }}
    {% if internationalAddress %}
      {{ govukSelect(selectCountry) }}
    {% endif %}

  {% endcall %}

{% endblock %}