{% extends 'application-basic-layout.html' %}

{% block centralContent %}  
        {% call govukFieldset({
          legend: {
            html: '<h2 class="govuk-fieldset__legend--m">' + heading + '</h2>',
            isPageHeading: false
          }
        }) %}

        {{ govukSelect(selectCountry) }}
        {% endcall %}

        {% call govukFieldset({
          legend: {
            html: '<h2 class="govuk-fieldset__legend--m">' + headingAddress + '</h2>',
            isPageHeading: false
          }
        }) %}
        {{ govukInput(inputFullName) }}
        {{ govukInput(inputAddressLine1) }}
        {{ govukInput(inputAddressLine2) }}
        {{ govukInput(inputAddressLine3) }}
        {{ govukInput(inputAddressLine4) }}
        {{ govukInput(inputPostcode) }}
        {% endcall %}
      
{% endblock %}