{% extends 'layout.html' %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block beforeContent %}
  {# {{ govukBreadcrumbs(breadcrumbs) }}   #}

  {% if errorList %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{govukErrorSummary ({
      "titleText": errorSummaryTitle,
      "errorList": errorList
      }) }}
      </div>
    </div>
  {% endif %}

{% endblock %}
{% block content %}

  {% if draftSubmissionExists %}
    {% set html %}
    <h3 class="govuk-notification-banner__heading">
      {{draftNotificationHeader}}
    </h3>
    <p class="govuk-body">{{draftNotificationBody}}</p>
    <p class="govuk-body">
      <a class="govuk-notification-banner__link" href="{{draftContinuePath}}">{{draftContinue}}</a>
    </p>
    <p class="govuk-body">
      <a class="govuk-notification-banner__link" href="{{draftDeletePath}}">{{draftDelete}}</a>
    </p>
    {% endset %}

    {{ govukNotificationBanner({
    titleText: draftNotificationTitle,
    html: html    
  }) }}
  {% endif %}

  <form method="POST" autocomplete="off" novalidate="novalidate">
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">
          {{pageHeader}}
        </h1>
      </div>
    </div>
    <div class="flex-container">
      <div>{{ govukButton({
                      text: buttonStartNewApplication,
                      type: "submit",
                      attributes: {
                        formAction: formActionStartNewApplication
                      }
                    }) }}</div>
      <div class="govuk-body button-text-inline">{{pageBodyNewApplicationFromPrevious}}</div>

    </div>

    <div class="govuk-grid-row" style="display: flex; align-content: center">
      <div class="govuk-grid-column-one-half search-container">
        <div class="govuk-grid-column-full search-input">
          {{ govukInput(inputSearch) }}
        </div>
        <div class="govuk-input__suffix govuk-button--search">
          {{ govukButton({
            type: "submit",
            classes: "govuk-button--search",
            html: '<svg class="gem-c-search__icon" width="20" height="20" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false"><circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle><line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line></svg>',
            attributes: {
              formAction: currentPath
            }
          }) }}

        </div>
      </div>
      <div class="govuk-grid-column-one-quarter govuk-!-padding-top-7">
        <p class="govuk-body">
          <a href="{{currentPath}}">{{clearSearchLinkText}}</a>
        </p>
      </div>

    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m">
          {{headerFilters}}
        </h2>
        {% call govukFieldset({
          legend: {
            text: pageBodyPermitType,
            classes: "govuk-fieldset__legend--s",
            isPageHeading: true
          }
        }) %}
        {{ govukCheckboxes(checkboxPermitType) }}
        {% endcall %}

        {% call govukFieldset({
          legend: {
            text: pageBodyStatus,
            classes: "govuk-fieldset__legend--s",
            isPageHeading: true
          }
        }) %}

        {{ govukCheckboxes(checkboxStatus) }}
        {% endcall %}
        {% if showCheckboxSubmittedBy %}
          {% call govukFieldset({
          legend: {
            text: pageBodySubmittedBy,
            classes: "govuk-fieldset__legend--s",
            isPageHeading: true
          }
        }) %}

          {{ govukCheckboxes(checkboxSubmittedBy) }}
          {% endcall %}
        {% endif %}
        
        {{ govukButton({
                    text: buttonApplyFilters,
                    classes: "govuk-button--secondary",
                    type: "submit",
                    attributes: {
                      formAction: currentPath
                    }
                  }) }}
      </div>
      <div class="govuk-grid-column-three-quarters">
        <table class="govuk-table" aria-describedby="my submissions">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">{{tableHeadReferenceNumber}}</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" style="text-align:right">{{tableHeadApplicationDate}}</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third" style="text-align:right">{{tableHeadStatus}}</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            {% if submissionsData !== 0 %}
              {% for submission in submissionsData %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a class="referencenumber-link" href="{{submission.referenceNumberUrl}}">{{submission.referenceNumber}}</a>
                  </td>
                  <td class="govuk-table__cell" style="text-align:right">{{submission.applicationDate}}</td>
                  <td class="govuk-table__cell" style="text-align:right">{{submission.status}}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
        {% if pagebodyNoApplicationsFound %}
          <p class="govuk-body">{{pagebodyNoApplicationsFound}}</p>
        {% endif %}
        <div class="landingpage-row-wrapper">
          {{ govukPagination(inputPagination) }}
        </div>
      </div>
    </div>
  </form>
{% endblock %}