{% extends 'layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
<div class="govuk-grid-row">
    {{ govukBackLink({
        text: pageHeader,
        href: backLink,
          attributes: {id: 'linkBack'}
      }) }}
</div>
 

  {% if errorList %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{govukErrorSummary ({
      "titleText": errorSummaryTitle,
      "errorList": errorList
      }) }}
    </div>
  </div>
{% endif %}



{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
  
        <form method="POST" autocomplete="off" novalidate="novalidate">
            <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-l">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
            <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {{ govukInput(inputSearch) }}
            </div>
            <div class="govuk-grid-column-one-quarter govuk-!-padding-top-7"><p class="govuk-body">
                <a href="{{clearSearchLink}}">{{clearSearchLinkText}}</a>
              </p>   
            </div>
            <div class="govuk-grid-column-one-quarter govuk-!-padding-top-7">
                {{ govukButton({
                    text: buttonStartNewApplication,
                    type: "submit"
                  }) }}
            </div>
        </div>
         
            

       
       
        

       
      </form>
   
  </div>
{% endblock %}