{% extends 'application-basic-layout.html' %}
{% set showPageHeader = true %}

{% block centralContent %}  
  {{ govukInput(inputPostcode) }}  
{% endblock %}

{% block submitButton %}
  {{ govukButton({
          text: buttonFindAddress,
          classes: 'loading-message-trigger',
          type: "submit"
        }) }}
{% endblock %}

{% block lowerContent%}
  <p class="govuk-body">
    <a href="{{linkUrlEnterAddress}}">{{linkTextEnterAddress}}</a>
  </p>
{% endblock %}

{% block localJS %}
  <script src="{{assetPath}}/js/loading-message.client.js"></script>
{% endblock %}