{% extends 'application-basic-layout.html' %}
{% set showPageHeader = true %}

{% block centralContent %}
        {{ govukSelect(selectAddress) }}
        
        <p class="govuk-body">
          <a href="{{changePostcodeUrl}}">{{changePostcodeLinkText}}</a>
        </p>

        <p class="govuk-body">
          <a href="{{enterManualAddressUrl}}">{{enterManualAddressLinkText}}</a>
        </p>

        {% if showDeliveryName %}
          {{ govukInput(inputDeliveryName) }}
        {% endif %}

{% endblock %}