{% extends 'layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block beforeContent %}
  {{ govukBackLink({
    text: backLinkButton,
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}

  {% if errorList %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{govukErrorSummary ({
        "titleText": errorSummaryTitle,
        "errorList": errorList
        }) }}
      </div>
    </div>
  {% endif %}

{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {# <div class="govuk-grid-column-two-thirds"> #}
    <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
      {% call govukFieldset({
          legend: {
            text: pageHeader,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
      {# <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            {{ govukInput(inputSpeciesName) }}
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                {{ govukInput(inputQuantity) }}
              </div>
              <div class="govuk-grid-column-three-quarters">
                {{ govukSelect(selectUnitOfMeasurement) }}
              </div>
            </div>
          </div> #}

      {# {{ govukInput(inputSpeciesName) }} #}
      <div class="govuk-grid-row">
      <div class="govuk-form-group govuk-grid-column-two-thirds {% if speciesNameError %}govuk-form-group--error{% endif %}">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label" for="speciesName">
            {{inputLabelSpeciesName}}
            <a href="{{inputLabelSpeciesNameLinkUrl}}" target="_blank">{{inputLabelSpeciesNameLinkText}}</a>
          </label>
        </h1>
        <p id="national-insurance-number-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {{speciesNameError.text}}
        </p>
        <input id="speciesName" name="speciesName" class="govuk-input {% if speciesNameError %}govuk-input--error{% endif %}" value="{{speciesName}}" type="text">
      </div>
      </div>
      {{ govukInput(inputQuantity) }}
      {{ govukSelect(selectUnitOfMeasurement) }}

      {% endcall %}
      {{ govukButton({
          text: continueButton,
          type: "submit"
        }) }}
    </form>
    {# </div> #}
  </div>
{% endblock %}