{% extends 'layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block beforeContent %}
  {{ govukBackLink({
    text: backLinkButton,
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}

  {% if errorList %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{govukErrorSummary ({
        "titleText": errorSummaryTitle,
        "errorList": errorList
        }) }}
      </div>
    </div>
  {% endif %}

{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
      {% call govukFieldset({
          legend: {
            text: pageHeader,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

      <p>
        {{bodyText}}<a href="{{bodyLinkUrl}}" target="_blank">{{bodyLinkText}}</a>&nbsp{{bodyText2}}
      </p>

      <p>{{bodyText3}}</p>

      {{ govukInput(inputSpeciesName) }}
      
      {% endcall %}
      {{ govukButton({
          text: continueButton,
          classes: 'loading-message-trigger',
          type: "submit"
        }) }}
    </form>
    </div>
  </div>
{% endblock %}

{% block localJS %}
  <script src="{{assetPath}}/js/loading-message.client.js"></script>
{% endblock %}