{% extends 'layout.html' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}
  {{ govukBackLink({
    text: backLinkButton,
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}

  {% if errorList %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{govukErrorSummary ({
        "titleText": errorSummaryTitle,
        "errorList": errorList
        }) }}
      </div>
    </div>
  {% endif %}

{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" autocomplete="off" novalidate="novalidate">
        {% call govukFieldset({
          legend: {
            text: pageHeader,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        <noscript>
          <p>{{noJavascriptBody.bodyText1 | safe}}</p>
          <p>{{noJavascriptBody.bodyText2 | safe}}</p>
          <p>{{noJavascriptBody.bodyText3 | safe}}</p>
        </noscript>
        <div class="js-enabled-only">
          <p>{{javascriptBody.bodyText1 | safe}}</p>
          <p>{{javascriptBody.bodyText2 | safe}}</p>
          <p>{{javascriptBody.bodyText3 | safe}}</p>
        </div>
        <div id="divSpeciesName" class="govuk-form-group">
          <label for="speciesName" class="govuk-label">Scientific name</label>

          {% if enableSpeciesNameTypeahead %}
            <noscript>
              {{ govukInput(inputSpeciesName) }}
            </noscript>
          <input id="inputSpeciesNameError" type="hidden" value="{{errorMessage}}">
          <input id="inputSpeciesNameOriginalValue" type="hidden" value="{{speciesName}}">
          {% else %}
            {{ govukInput(inputSpeciesName) }}
          {% endif %}
          <div id="speciesName-container"></div>
        </div>
        {% endcall %}

        {{ govukButton({
          text: saveAndContinueButton,
          classes: 'loading-message-trigger',
          type: "submit",
          attributes: {
            formAction: formActionPage
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block localJS %}
  <script src="{{assetPath}}/js/loading-message.client.js"></script>
  {% if enableSpeciesNameTypeahead %}
    <link rel="stylesheet" href="{{assetPath}}/accessible-autocomplete.min.css"/>
    <script type="text/javascript" src="{{assetPath}}/accessible-autocomplete.min.js"></script>
    <script src="{{assetPath}}/js/species-name.client.js"></script>
  {% endif %}
{% endblock %}