{% extends 'layout.html' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<form method="POST" action="test" autocomplete="off" novalidate="novalidate">
    <h1 class="govuk-heading-xl">
      Test Page
    </h1>

  <h2>Address Lookup Config</h2>
  <p><b>KEY_VAULT_URI:</b> {{keyVaultUri}}</p>
  <p><b>ADDRESS_LOOKUP_API_CERT_NAME:</b> {{addressLookupAPICertName}}</p>
  <p><b>ADDRESS_LOOKUP_BASE_URL:</b> {{addressLookupBaseUrl}}</p>
  <br/>
  <h2>Dynamics Config</h2>
  <p><b>AUTHORITY_URL:</b> {{authorityUrl}}</p>
  <p><b>CLIENT_ID:</b> {{clientId}}</p>
  <p><b>BASE_URL:</b> {{baseURL}}</p>
  <br/>
  <h2>Dynamics Test Call</h2>
    {{ govukButton({
      text: 'Call API',
      type: 'submit' 
    }) }}

    <p><b>Response </b>{{data}}</p>
  </div>
</div>
{% endblock %}