{% extends 'application-basic-layout.html' %}
{% set showPageHeader = true %}
{% set noFormAction = true %}

{% block centralContent %}
      <p>{{pageBody}}</p>
      
        <input type="hidden" id="numberOfMarks" name="numberOfMarks" min="1" value="{{ numberOfMarks }}"/>
        {% for mark in marks %}
          <div id="mark{{mark.markIndex}}">
            {% call govukFieldset(mark.fieldsetMark) %}
            {{ govukSelect(mark.selectUniqueIdentificationMarkType) }}
            {{ govukInput(mark.inputUniqueIdentificationMark) }}
            {% if mark.showAddMarkButton %}
              {{ govukButton({
            text: buttonAdd,
            type: "submit",
            classes: "govuk-button--secondary govuk-!-margin-bottom-4",
            attributes: {
              formAction: formActionPage + '/addMark' + '#mark' + (mark.markIndex + 1)
            }
          }) }}
            {% endif %}
            {% if mark.showRemoveMarkButton %}
              {{ govukButton({
            text: buttonRemove,
            type: "submit",
            classes: "govuk-button--secondary govuk-!-margin-bottom-4 add-another__remove",
            attributes: {
              formAction: formActionPage + '/removeMark/' + mark.markIndex + '#mark' + (mark.markIndex - 1)
            }
          }) }}
            {% endif %}
            {% endcall %}
          </div>
        {% endfor %}
        <br/>
{% endblock %}
{% block submitButton %}
  {{ govukButton({
    text: saveAndContinueButton,
    type: "submit",
    attributes: {
        formAction: formActionPage + '/continue'
      }
  }) }}
{% endblock %}
