{% extends 'layout.html' %}
{% from "dist/govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "dist/govuk/components/button/macro.njk" import govukButton %}
{% from "dist/govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "dist/govuk/components/table/macro.njk" import govukTable %}
{% from "dist/govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "dist/govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block beforeContent %}

  {% if errorList %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{govukErrorSummary ({
         "titleText": errorSummaryTitle,
         "errorList": errorList
      }) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{captionText}}</h1>
      <form method="POST" autocomplete="off" novalidate="novalidate">
      {% if insetText %}
        {{ govukInsetText({
          text: insetText
        }) }}
        {% endif %}
        <table class="govuk-table" aria-describedby="your applications">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">{{tableHeadScientificName}}</th>
              <th scope="col" class="govuk-table__header">{{tableHeadQuantity}}</th>
              <th scope="col" class="govuk-table__header">{{tableHeadUnitOfMeasurement}}</th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for application in applicationsData %}
              <tr class="govuk-table__row">

                <td class="govuk-table__cell">
                  <a href="{{application.speciesNameUrl}}">{{application.speciesName}}</a>
                  {% if application.marks %}
                    {% for mark in application.marks %}
                      <p class="margin-bottom-0">{{mark.labelMark}}:
                        {{mark.mark}}</p>
                    {% endfor %}
                  {% endif %}

                  {% if application.internalReference %}
                    <p class="margin-bottom-0">{{labelInternalReference}}:
                      {{application.internalReference}}</p>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">{{application.quantity}}</td>
                <td class="govuk-table__cell">{{application.unitsOfMeasurementText}}</td>
                <td class="govuk-table__cell">
                  {{ govukButton({
                    text: copyButton,
                    type: "submit",
                    classes: "govuk-button--secondary",
                    attributes: {        
                      "aria-label": copyAriaLabel,
                       formAction: application.formActionCopy
                    }
                  }) }}
                </td>
                {# {% if applicationsData.length > 1 %} //This is a fix to stop the remove button showing when there is only 1 application in the list, enable this if the fix is required #} 
                <td class="govuk-table__cell">
                  {{ govukButton({
                    text: removeButton,
                    type: "submit",
                    classes: "govuk-button--warning",
                    attributes: {
                      "aria-label": removeAriaLabel,
                      formAction: application.formActionRemove
                    }
                  }) }}
                </td>
                {# {% endif %} #}
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {{ govukButton({
          text: continueButton,
          type: "submit"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}